{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Script Tutorials" />
        <title>game</title>

        <!-- add styles -->
        <link href='{% static "css/main.css" %}' rel="stylesheet" type="text/css" />
        <script src='{% static "js/jquery.js" %}'></script>
        <script src='{% static "js/script.js" %}'></script>
    </head>
    <body>
      <script type="text/javascript" src='{% static "script.js" %}'></script>
        <div class="container">
            <canvas id="scene" width="700" height="700" tabindex="1"></canvas>
        </div>
    </body>
</html>