<!-- Modal -->
<div class="modal fade" id="id_help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Справка по игре "Рокеты"</h4>
        </div>
        <div class="modal-body">
            <p>
              Это симуляция военного сомолёта, уничтожающего на своём пути астероиды.
            </p>
            <p>
            -Столкновение с астероидом отнимает жизни. <br>
            -Для перемещения самолёта вправо или влево нажмите соответствующую стрелку клавиатуры. <br>
            -Для выстрела нажмите латинскую "а" (русская "ф"). <br>
            -Цель игры заработать как можно больше очков. <br>
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->